<section class="special sect">
  <!-- Slide -->
  <div class="special-slide">
    <img
      src="https://www.w3schools.com/howto/img_snow_wide.jpg"
      class="slide-logo clickable"
    />
    <div class="slideshow-container">
      <div class="slide-item fade">
        <img
          src="https://res.cloudinary.com/djnqxvljr/image/upload/v1613735662/12_plfw91.jpg"
        />
        <div class="slide-item-text">
          <p>Valentine Special</p>
          <h2>For the Pizza lovers</h2>
          <p>
            Enjoy 30% discount on our valentine's special just for you and your
            partner
          </p>
        </div>
      </div>

      <div class="slide-item fade">
        <img
          src="https://res.cloudinary.com/djnqxvljr/image/upload/v1613735658/6_ne1ioe.jpg"
        />
        <div class="slide-item-text">
          <p>Valentine Special</p>
          <h2>For the Pizza lovers</h2>
          <p>
            Enjoy 30% discount on our valentine's special just for you and your
            partner
          </p>
        </div>
      </div>

      <div class="slide-item fade">
        <img
          src="https://res.cloudinary.com/djnqxvljr/image/upload/v1613735679/53_kfv14t.jpg"
        />
        <div class="slide-item-text">
          <p>Valentine Special</p>
          <h2>For the Pizza lovers</h2>
          <p>
            Enjoy 30% discount on our valentine's special just for you and your
            partner
          </p>
        </div>
      </div>
    </div>
    <div style="text-align: center">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>
  </div>
  <div class="special-orders">
    <span class="special-orders-heading">
      <h4>Special Orders</h4>
      <p class="clickable">See all</p>
    </span>
    <div class="special-orders-list">
      <div class="special-orders-item">
        <span class="special-orders-item-image">
          <!-- <img src="" alt="food image" /> -->
        </span>
        <span class="special-orders-item-details">
          <p class="clickable">Berlin Foods</p>
          <p>Fresh Crabs Vegetables...</p>
          <small>2,000</small>
        </span>
      </div>
      <div class="special-orders-item">
        <span class="special-orders-item-image">
          <!-- <img src="" alt="food image" /> -->
        </span>
        <span class="special-orders-item-details">
          <p class="clickable">Berlin Foods</p>
          <p>Fresh Crabs Vegetables...</p>
          <small>2,000</small>
        </span>
      </div>
      <div class="special-orders-item">
        <span class="special-orders-item-image">
          <!-- <img src="" alt="food image" /> -->
        </span>
        <span class="special-orders-item-details">
          <p class="clickable">Berlin Foods</p>
          <p>Fresh Crabs Vegetables...</p>
          <small>2,000</small>
        </span>
      </div>
    </div>
  </div>
</section>
