/*/---- Variables ----/*/
// Colors
$primary-color: #ffbe00;
$primary-color-hover: #ffd113;
$gradient-color: linear-gradient(178.77deg, #fff -56.4%, #fff 2.86%, #fff 41.59%, #fff 74.27%, #fff 92.04%);
$accent-color:#008080;
$white-color: #FFFFFF;
$light-color: #F1F3F3;
$light-color2: #f1f3f380;
$dark-color1: #000000;
$danger-color: #EB5757;
$grey-color1: #d9d9d9;
$grey-color2: #bfbfbf;
$success-color: #00d285;
$warning-color: #1babfee6;

// Fonts
$button-md-font: 14px;
$button-lg-font: 16px;
$h1-font: 58px;
$h2-font: 40px;
$h3-font: 35px;
$h4-font: 24px;
$h5-font: 22px;
$h6-font: 18px;

// Box shadow
$box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);

// Border-radius
$border-radius: 8px;
