<form (ngSubmit)="signup()" name="signupForm" [formGroup]="signupForm">
  <h2 class="form-heading">Create Account</h2>
  <div class="form-area">
    <div class="form-field">
      <input type="text" placeholder="Full Name" formControlName="name" />
      <img
        src="https://res.cloudinary.com/djnqxvljr/image/upload/v1620728364/perlfood/assets/svg/bx-user_eqy2va.svg"
        alt="image"
      />
    </div>
    <div class="form-field">
      <input type="email" placeholder="Email" formControlName="email" />
      <img
        src="https://res.cloudinary.com/djnqxvljr/image/upload/v1620727959/perlfood/assets/svg/bx-envelope_x0kbag.svg"
        alt="image"
      />
    </div>
    <div class="form-field">
      <input
        type="password"
        placeholder="Password"
        [type]="hide ? 'password' : 'text'"
        formControlName="password"
      />
      <img
        src="https://res.cloudinary.com/djnqxvljr/image/upload/v1620727871/perlfood/assets/svg/bx-lock_sgwo4c.svg"
        alt="image"
        class="clickable"
        [title]="hide ? 'show' : 'hide'"
        (click)="hide = !hide"
      />
    </div>
    <div class="form-btn">
      <button class="btn prim-btn" (click)="signup()">Create</button>
    </div>
  </div>
</form>
