<footer>
  <a routerLink="" class="logo">
    <img
      src="https://res.cloudinary.com/djnqxvljr/image/upload/v1612447328/perlfood/assets/logo_vluurv.png"
    />
  </a>
  <div class="footer-social">
    <a href="#" class="footer-icon" target="_blank">
      <img
        src="https://res.cloudinary.com/djnqxvljr/image/upload/v1620383544/perlfood/assets/svg/bxl-facebook_v1qys8.svg"
        alt=""
      />
    </a>
    <a href="#" class="footer-icon" target="_blank">
      <img
        src="https://res.cloudinary.com/djnqxvljr/image/upload/v1620383544/perlfood/assets/svg/bxl-twitter_k4ebfb.svg"
        alt=""
      />
    </a>
    <a href="#" class="footer-icon" target="_blank">
      <img
        src="https://res.cloudinary.com/djnqxvljr/image/upload/v1620383543/perlfood/assets/svg/bxl-instagram_sg6eza.svg"
        alt=""
      />
    </a>
  </div>
  <p>
    All rights reserved © <span>{{ myDate }}</span> PerlFood
  </p>
</footer>
